.wrapper {
	min-width: 230px;
	max-width: 1280px;
	margin: 0 auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}


.header {
	margin-top:75px;
	margin-bottom:25px;
	text-align: center;
	color: purple;
}


.content {
	text-align: center;
}


.footer {
	height: 100px;
	padding: 50px;
	text-align: center;
	margin-top: 5px;
}


#frontrow{
	margin-top: 180px;
}

#frontbutton{
	
	height: 100px;
	width: 400px;
	text-align: center;
	margin:auto;
	font-size: 1.7rem;
	font-weight: 700;	
	padding: 30px;
}



form {
	
	width: 100%;
	padding: 50px;
	border: 2px solid purple;
	background: white;
	border-radius: 10px 10px 10px 10px;
	margin: 0px auto;
	margin-top: 100px;
}


#indexmain {
	
	margin-top: 250px;
}

#loginform{
	margin-top:20px;
}

#registrationform{
	
	margin-top:10px;
	padding-bottom:10px;
	padding-top:5px;
	max-height:750px;
	width: 100%;
	
}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
  
    display: inline-block;
    list-style-type: none;
}
 

nav > ul > li > a {
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

#sellerbox{
	border: 2px solid purple;
	border-bottom: none;
}


#sellerbox:last-child{
	border-bottom: 2px solid purple;
}

#registerlogin {
	
	text-align: center;
	
}

#uploaditem{
	
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	
}

.logout-btn{
	margin: 10px 10px 0 0;
	float: right;
}

#itemsforsaleheader {
	
	text-align:center;
	
}

.navbar .column{
	text-align: center;
}
.navbar .column a:not(.button){
	margin-top: 15px;
	display: flex;
}

#ftext{
	text-align: center;
	padding-top: 10px;
}
